<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Welcome to Stuck Brewing!</h1>
    <p>Stuck Brewing was an idea conceived by two idiots long ago in cubicles far, far away.  It's taken on many iterations and forms over the years.  The latest version inspired by our adventures in brewing.</p>  
    <p>If you'd like to follow along on this journey as we continue to stumble through conception, find us on Twitter at <a href="https://twitter.com/StuckBrewing">twitter.com/StuckBrewing</a> or on instagram at <a href="https://www.instagram.com/stuckbrewing/">instagram.com/StuckBrewing</a></p>
  </div>
</div>